<%- include('includes/head') %>


    <section class="container">
        <h1>Lorem ipsum dolor</h1>

        <form action="">
            <label for="input-test-1">Cliente</label>
            <input type="text" id="input-test-1">
            <button>Enviar</button>
        </form>

    </section>
    
    <%- include('includes/footer') %>